html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

div.map_canvas {
  height: 90%;
}

div.homeButton {
  height: 14px;
  width: 14px;
  position: absolute;
  top: 36px;
  left: 36px;
  opacity: 0.0;
  background-color: #FFFFFF;
  cursor: pointer;
}

div.showTripsTable {
  border-bottom-color: #707070;
  border-left-color: #D0D0D0;
  border-right-color: #707070;
  border-top-color: #D0D0D0;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 12px;
  height: 15px;
  width: 64px;
  font-family: Arial,sans-serif;
  text-align: center;
  color: #A52A2A;
  cursor: pointer;
}

div.trips {
  position: absolute;
  top: 30px;
  right: 206px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  max-width: 58%;
  max-height: 64%;
  overflow: auto;
}

img.hideTripsTable {
  border: 0px;
  position: absolute;
  top: 30px;
  right: 206px;
}

table.trips {
  border-collapse: collapse;
}

th {
  border: 1px solid;
}

td {
  border: 1px solid;
  white-space: nowrap;
}

div.tripGraphHide {
  border: 0px;
  position: absolute;
  right: 0;
}

img.hideTripGraph {
  border: 0px;
  position: absolute;
  right: 0;
}

div.trip_graph {
  color: #000000;
  background-color: #FFFFFF;
}

a.real_link:link {
  color: #0000ff;
  background-color: #ffffff;
}

a.real_link:link:hover {
  color: #ffffff;
  background-color: #0000ff;
}

a.real_link:visited {
  color: #606060;
  background-color: #ffffff;
}

a.real_link:visited:hover {
  color: #ffffff;
  background-color: #606060;
}
