html, body {
  height: 100%;
  margin: 0;
}

.tripsButton {
  border-bottom-color: #B0B0B0;
  border-left-color: #FFFFFF;
  border-right-color: #B0B0B0;
  border-top-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 12px;
  height: 15px;
  width: 63px;
  font-family: Arial,sans-serif;
  text-align: center;
}

.trips {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  max-width: 54%;
  /*overflow: auto;*/
}

img.close {
  border: 0px;
  position: absolute;
  right:0;
}

table.trips {
  border-collapse: collapse;
}

td, th {
  border: 1px solid;
}

th {
  color: #000000;
  background-color: #FFFFFF;
}
