html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

div.map_canvas {
  height: 90%;
}

img.rss {
    height: 1em;
}

div.menu {
  position: absolute;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.347656);
  z-index: 10;
}

table.menu {
  border-collapse: collapse;
  font-family: Arial,sans-serif;
  font-size: 12px;
}

tr.selectedMenuItem {
  border-style: solid;
  border-width: 1px;
  border-color: #A9BBDF;
  color: #FFFFFF;
  background-color: #678AC7;
}

tr.menuItem {
  border-style: solid;
  border-width: 1px;
  border-color: #A9BBDF;
  color: #000000;
  background-color: #FFFFFF;
}

div.tripsControl {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  color: #000000;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

div.showTripsTable {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1px 6px;
  font-size: 11px;
  font-family: Roboto,Arial,sans-serif;
  text-align: center;
  color: #565656;
  background-color: #FFFFFF;
  background-clip: padding-box;
  cursor: pointer;
}

div.showTripsTable:hover {
  background: #EBEBEB;
}

div.tripsSummary {
  color: #000000;
  background-color: #E0E0FF;
}

div.tripsTable {
  overflow: auto;
  color: #000000;
  background-color: #FFFFFF;
}

img.hideTripsTable {
  border: 0px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 10;
}

table.trips {
  border-collapse: collapse;
}

tr.selectedTrip {
  color: #000000;
  background-color: #C0FFC0;
}

#tripsTable th {
  border: 1px solid;
}

#tripsTable td {
  border: 1px solid;
  white-space: nowrap;
}

div.tripGraphHide {
  border: 0px;
  position: absolute;
  right: 0;
}

img.hideTripGraph {
  border: 0px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

div.trip_graph {
  color: #000000;
  background-color: #FFFFFF;
}

a.progress {
    color: #000000;
    text-decoration: none;
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.2;
    }
}

a.real_link:link {
  color: #0000FF;
  background-color: #FFFFFF;
}

a.real_link:link:hover {
  color: #FFFFFF;
  background-color: #0000FF;
}

a.real_link:visited {
  color: #606060;
  background-color: #FFFFFF;
}

a.real_link:visited:hover {
  color: #FFFFFF;
  background-color: #606060;
}
